
{% extends "base.html" %}
{% load staticfiles %}
{% static 'products/style.css' %}
{% block title %}
    {{block.super}}-Products
{% endblock %}
{% block content %}
 <div id="blogs" class="row list-group text-center">


{% for blog in blogs %}

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">

            <a href="{{ blog.get_absolute_url }}">
            <div class="thumbnail">
            <div class="caption">
                    <h2 class="group inner list-group-item-heading">
                        {{blog.title}}</h2>
                    <br>
                    <p class="group inner list-group-item-text">
                        {{blog.body|truncatechars:1000}}</p>

                </div>
            </div>
            </a>
        </div>
        <div class="col-md-3"></div>
    </div>
 {% endfor %}
  </div>
{% endblock %}