{% extends "base.html" %}
{% load staticfiles %}
{% static 'products/style.css' %}
{% block title %}
    {{block.super}}-Products
{% endblock %}
{% block content %}
<div class = 'container'>
    <br>
    <br>
    <br>
    <br>
    <div class="well well-sm" ">
    <div class = 'row text-center'>
        <div class="col-md-12">
            <a href="{{product.tpt_url}}"><h1>{{product.title}}</h1></a>
            <a href="{{product.tpt_url}}">
                <img class = 'img-rounded' src="{{product.image.url}}" width="400" height="300"/>
            </a>
            <p>{{product.description}}</p>
            {% if product.preview_url != 'None' %}
                <iframe width="420" height="315" src="{{product.preview_url}}" allowfullscreen></iframe>
            {% endif %}

            </div>
    <a href="{{product.tpt_url}}">Teacher's Pay Teachers Product Page</a>
    </div>
    </div>
</div>
{% endblock %}
